html,
body {
  height: 100%;
}

body {
  background-image: url("http://i66.tinypic.com/2wfn22s.jpg");
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

#sizeforh2{
  font-size: 27px;
}

#btnLogin{
  background-color: brown;
  border: none;
}

#btnLogin:hover {
  background-color: rgb(97, 7, 7);
}

#btnSignUp{
  background-color: rgb(247, 88, 26);
  border: none;
}
#btnSignUp:hover {
  background-color: rgb(201, 69, 17);
}

#btngoogle{
  background-color: rgb(233, 120, 205);
  border: none;
}
#btngoogle:hover {
  background-color: rgb(230, 68, 189);
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#custom-alert {
  top: 10px;
  position: fixed;
}
