html,
body {
  height: 100%;
}

body {
  background-image: url("http://i65.tinypic.com/oejjr.png");
}

h1{
    font-family: 'Gaegu', cursive;
    font-size: 50px;
}
#btnStart{
    position: relative;
    box-sizing: border-box;
    height: auto;
    font-size: 20px;
    width: 18%;
    margin-left: 50%;
    
}

.center {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    padding-left: 100%;
    width: 300%;
  }

  to {
    padding-left: 0%;
    width: 100%;
  }
}